<!DOCTYPE html>
<html lang="en">
<head>
  <title>Inventory Manager</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>Inventory Manager</h1>
<form class="app-js-barcode-form">
  <label>Barcode: <input class="app-js-barcode-input"></label>
  <label>Multiple barcodes (one per line):<textarea class="app-js-multiple-barcode-input"></textarea></label>
</form>
<label>Storage Name: <input class="app-js-storage-name-input"></label>
<button type="button" class="app-js-upload">Upload Current Items</button>
<script src="./js/main.js"></script>
</body>
</html>
